/* XC1 Slider styles ver 0.1 beta */


/* Basic */
.slider { width: 100%; height: auto; position: relative; }
.slider-container { margin: 0px auto; padding:0px; height: auto; width: 100%; overflow:hidden; position:relative;}
.slider-container ul { width:9999px; position: relative; top:0; left:0; margin:0px; padding: 0px; }
.slider-container ul li { margin: 0px; padding: 0px; float:left; list-style:none; height: 450px; width: 800px; }


/* Dynamic */


/* Static */



/* Nav */

.slider-nav-direction { height: 0px; position: absolute; top: 0px; left: 0px; overflow: visible; width: 100%; margin: 0; padding: 0px; }
.slider-nav-direction li { list-style-type: none; }

	
.slider-nav-container { /* height:50px; position:relative; text-align: center; */ }
.slider-nav-pagination { height:20px; padding: 0px; }
.slider-nav-pagination li { list-style:none; display: inline; }
.slider-nav-pagination li a { background: rgba(81, 202, 255, 0.5); text-indent: -9999px; height:12px; width:12px; margin: 0px 4px; display: inline-block; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 1); -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 1); box-shadow: 0 2px 3px rgba(0, 0, 0, 1); border-top: 1px solid rgba(255, 255, 255, 0.2); }
.slider-nav-pagination li a.active { background: rgba(142, 221, 255, 1); }