/* XC1 Slider styles ver 0.1 beta */


/* Basic */
.slider { width: 100%; height: auto; display: block; position: relative; }
.slider .slider-container { margin: 0px auto; padding:0px; height: auto; width: 100%; overflow:hidden; position:relative;}
.slider .slider-container ul { width: 9999px; overflow: visible; position: relative; top:0; left:0; margin:0px; padding: 0px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
.slider .slider-container ul li { margin: 0px; padding: 0px; float: left; list-style-type: none; display: block; position: relative; }
.slider .slider-container ul li img { width: 100%; height: auto; display: block; position: relative;  }

.slider .slider-container ul.slider-effect-slide {  }
.slider .slider-container ul.slider-effect-slide li {  }

.slider .slider-container ul.slider-effect-scroll {  }
.slider .slider-container ul.slider-effect-scroll li img { height: 100%; width: auto; }

.slider .slider-container ul.slider-effect-fade { width: 100%; }
.slider .slider-container ul.slider-effect-fade li { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }

/* Dynamic */


/* Static */



/* Nav */

.slider-nav-direction { height: 0px; position: absolute; top: 50%; left: 0px; overflow: visible; width: 100%; height: 0px; margin: 0; padding: 0px; }
.slider-nav-direction li { list-style-type: none; display: block; text-indent: -99999px; height: 75px; width:36px; top: 50%; margin: -38px 0px 0px 0px; position: absolute; overflow: hidden; cursor: pointer; }
.slider-nav-direction li.slider-nav-backward { left: -36px; }
.slider-nav-direction li.slider-nav-forward { right: -36px; }

.slider-nav-container { /* height:50px; position:relative; */ text-align: center; }

.slider-nav-slidination { height:20px; padding: 0px; }
.slider-nav-slidination li { list-style:none; display: inline-block; background: rgba(81, 202, 255, 0.5); text-indent: -9999px; height:12px; width:12px; margin: 0px 4px; display: inline-block; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 1); -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 1); box-shadow: 0 2px 3px rgba(0, 0, 0, 1); border-top: 1px solid rgba(255, 255, 255, 0.2); cursor: pointer; }
.slider-nav-slidination li.slider-nav-active { background: rgba(142, 221, 255, 1); }